<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div>
                    <h1 class="text-primary">Registration Form</h1>
                    <h5>Get Free Membership</h5><hr>
                    <form [formGroup]="signupForm" (ngSubmit)="signUp()" class="pb-3">
                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input formControlName="name" 
                             placeholder="Enter name" 
                             type="email" 
                             class="form-control"  
                             aria-describedby="emailHelp">
                            <span style="color:red" *ngIf="name && name.invalid && name.touched">Name is required</span>
                        
                    </div>
                        <div class="mb-3">
                            <label class="form-label">Last Name</label>
                            <input formControlName="lastname" placeholder="Enter last name" type="email" class="form-control"  aria-describedby="emailHelp">
                            <span style="color:red" *ngIf="lastname && lastname.invalid && lastname.touched"> Last Name is required</span>

                        </div>

                        <div class="mb-3">
                            <label class="form-label">Email Id</label>
                            <input formControlName="email" type="email" placeholder="Enter Email" class="form-control"  aria-describedby="emailHelp">
                            <span style="color:red" *ngIf="email && email.invalid && email.touched"> email is required</span>

                        </div>
      
  
                        <div class="mb-3">
                          <label class="form-label">Mobile Number</label>
                          <input formControlName="mobile" type="mobile" placeholder="Enter Mobile No" class="form-control"  aria-describedby="emailHelp">
                          <span style="color:red" *ngIf="mobile && mobile.invalid && mobile.touched"> Mobile number  is required</span>

                          </div>
                        <div class="mb-3">
                          <label class="form-label">Password</label>
                          <input formControlName="password" placeholder="Enter password" type="password" class="form-control" >
                          <span style="color:red" *ngIf="password && password.invalid && password.touched"> Password is required</span>

                        </div>
                        <div class="mb-3">
                            <label class="form-label">confirm Password</label>
                            <input  formControlName="confirmpassword" placeholder="Enter confirm password" type="password" class="form-control" >
                            <span style="color:red" *ngIf="confirmpassword && confirmpassword.invalid && confirmpassword.touched"> Confirm Password is required</span>

                        </div>
  
                        <button type="submit" class="btn btn-primary px-5">Signup</button>
                      </form>
                      <a routerLink="/login" class="">Already member ? Click to login !</a>

                </div>

            </div>
        </div>
    </div>
</div>