<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
  <span>Angular CRUD</span>
  <a class="text-warning p-4" routerLink="/dialog" (click)="openDialog()">Add</a>
  <a class="text-warning p-2" routerLink="/dashbord">View</a> 
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" routerLink="/login" >Back to login page</button>
</mat-toolbar>




<!-- <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>supervised_user_circle</mat-icon>
        </button>
       <span>Angular CRUD</span>
          <a class="navbar-brand" routerLink="/dialog">Add</a>
          <a class="navbar-brand p-2" href="#">View</a> 
          <span>Product List</span>
    
    
    
    
        <button mat-raised-button color="warn" (click)="openDialog()">Add Product</button>
      </mat-toolbar> -->
    